@using SportEventManager.Web.ViewModels.EventModel;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@{
    int currentId = Model.Id;
}

<link rel="stylesheet" type="text/css" href="~/css/EventView/_eventLayout.css" />

<div class="row">
    <div class="col-md-12 offset-md-0">
        <div class="event-name">@Model.Name</div>
    </div>
    <div class="col-md-12">
        <div class="card event-view-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EventView" asp-action="ShowMatches" asp-route-id="@currentId">MATCHES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EventView" asp-action="Bracket" asp-route-id="@currentId">BRACKET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EventView" asp-action="Stats" asp-route-id="@currentId" method="get">STATS</a>
                    </li>                  
                    @*<li class="nav-item">
                        <a class="nav-link" asp-controller="EventView" asp-action="Standings" asp-route-id="@currentID">STANDINGS</a>
                    </li>*@
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
	@await RenderSectionAsync("Scripts", required: false)

	<script>
	$(function (){
		var current = location.pathname;
		$('.nav-tabs li a').each(function() {
			var $this = $(this);
			if (current.indexOf($this.attr('href')) !== -1) {
				$this.addClass('active');
			}
		})
	})
	</script>
}
