@using SportEventManager.Web.ViewModels.EventModel;
@using SportEventManager.Web.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EventViewModel

@{
    ViewData["Title"] = "HomeMatches";
    Layout = "~/Views/EventView/_EventViewLayout.cshtml";
}
@{
    //int a = 0;
}


<link rel="stylesheet" type="text/css" href="~/css/EventView/Matches.css" />
<script src="~/js/EventView/Matches.js"></script>


@for (int i = 0; i < Model.Matches.Count; i++)
{
    <style>
        .match-status {
            background-color: @(Model.Matches[i].IsLive ? "#fdeaec" : "#fff");
            color: @(Model.Matches[i].IsLive ? "#d72641" : "#8A8F98");
            padding: 8px 12px;
            border-radius: 6px;
            font-weight: 600;
            font-size: 14px;
            display: flex;
            align-items: center;
            line-height: 1;
            margin-right: auto;
        }

            .match-status:before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                background-color: currentcolor;
                border-radius: 50%;
                margin-right: 8px;
            }
    </style>
    <div class="column">
        <!-- code here -->
        <div onclick="openModal(@i)" class="match">
            <div class="match-header">
                <div class="match-status">Live</div>
            </div>
            <div class="match-content">
                <div class="match-column">
                    <div class="team team--home">
                        <h2 class="team-name">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeam.Name)
                        </h2>
                    </div>
                </div>
                <div class="match-column">
                    <div class="match-details">
                        <div class="match-date">
                            @Model.Matches[i].StartTime.ToString("d MMM") at <strong>@Model.Matches[i].StartTime.ToString("HH:mm")</strong>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number">
                                @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                            </span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number">
                                @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                            </span>
                        </div>
                        <div id="match-time-lapsed-@i" class="match-time-lapsed">
                            @(Model.Matches[i].IsLive ? Model.Matches[i].CalculateMinutesElapsed() + "'" : "")
                        </div>
                    </div>
                </div>
                <div class="match-column">
                    <div class="team team--away">
                        <h2 class="team-name">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeam.Name)
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="myModal-@i" class="modal">
        <span class="close cursor" onclick="closeModal(@i)">&times;</span>
        <div class="modal-content">
            <div class="modal-header">
                <div class="inTeam1">
                    @Html.DisplayFor(item => Model.Matches[i].HomeTeam.Name)
                    <div class="score">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                    </div>
                </div>
                VS
                <div class="inTeam2">
                    @Html.DisplayFor(item => Model.Matches[i].GuestTeam.Name)
                    <div class="score">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            GOALS
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Assists)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            ASSIST
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Assists)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Shoots)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            SHOOTS
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Shoots)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.ShootsOnTarget)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            SHOOTS ON TARGET
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.ShootsOnTarget)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Passes)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            PASSES
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Passes)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Fouls)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            FOULS
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Fouls)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.YellowCards)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            YELLOW CARDS
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.YellowCards)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="stat1">
                            @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.RedCards)
                        </div>
                    </div>
                    <div class="column">
                        <div class="statName">
                            RED CARDS
                        </div>
                    </div>
                    <div class="column">
                        <div class="stat2">
                            @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.RedCards)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn default" onclick="openModal2(@i)">Match Ended</button>
                </div>
            </div>
        </div>
    </div>


    <form asp-action="Matches" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="myModal2-@i" class="modal">
            <span class="close cursor" onclick="closeModal2(@i)">&times;</span>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="inTeam1">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeam.Name)
                    </div>
                    VS
                    <div class="inTeam2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeam.Name)
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="Matches[i].HomeTeamStats.Goals" id="goals1" name="goals1" min="0" value="0">
                                <span asp-validation-for="Matches[i].HomeTeamStats.Goals" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                GOALS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="Matches[i].GuestTeamStats.Goals" id="goals2" name="goals2" min="0" value="0">
                                <span asp-validation-for="Matches[i].GuestTeamStats.Goals" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="assist1" name="assist1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                ASSIST
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="assist2" name="assist2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="shoots1" name="shoots1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                SHOOTS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="shoots2" name="shoots2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="shootsontarget1" name="shootsontarget1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                SHOOTS ON TARGET
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="shootsontarget2" name="shootsontarget2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="passes1" name="passes1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                PASSES
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="passes2" name="passes2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="fouls1" name="fouls1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                FOULS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="fouls2" name="fouls2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="ycards1" name="ycards1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                YELLOW CARDS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="ycards2" name="ycards2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" id="rcards1" name="rcards1" min="0" value="0">
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                RED CARDS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" id="rcards2" name="rcards2" min="0" value="0">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" asp-for="@Model.Matches" />

                    <div class="modal-footer">
                        <input type="submit" value="Save Stats" class="btn default" />
                    </div>
                </div>
            </div>
        </div>
    </form>
}


<script>
        function openModal(a) {
            var modalId = "myModal-" + a.toString();
            var modal = document.getElementById(modalId);

            if (modal) {
                modal.style.display = "block";
            }
        }

    function closeModal(a) {
        var modalId = "myModal-" + a.toString();
        var modal = document.getElementById(modalId);

        if (modal) {
            modal.style.display = "none";
        }
    }


        function openModal2(a) {
            document.getElementById("myModal2-" + a.toString()).style.display = "block";
        document.getElementById("myModal-" + a.toString()).style.display = "none";
        }

    function closeModal2(a) {
        document.getElementById("myModal2-" + a.toString()).style.display = "none";
    }


    @*setInterval(UpdateMinutes, 1000);
        function minutesPassed(startTime) {
        var now = new Date();
        var start = new Date(startTime);

        var timeDiff = now.getTime() - start.getTime();
        var minutes = Math.floor(timeDiff / (1000 * 60));

        return minutes;
        }





        function UpdateMinutes() {
        for (let i = 0; i < @Model.Matches.Count; i++) {
        var minutes = minutesPassed("2023-06-08T12:30:00"));
        document.getElementById("match-time-lapsed-" + i.toString()).innerHTML = minutes;
        }
        }
        *@
</script>







