@using SportEventManager.Web.ViewModels.EventModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EventViewModel

@{
    ViewData["Title"] = "ShowMatches";
    Layout = "~/Views/EventView/_EventViewLayout.cshtml";
}


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href="~/css/EventView/Matches.css" />
<script src="~/js/EventView/Matches.js"></script>

<form method="post" id="MathchesForm" asp-controller="EventView" asp-action="ShowMatches">
@foreach (var match in Model.Matches)
    {
        <div class="column">
            <div onclick="openModal(@(Model.Matches.IndexOf(match)))" class="match">
                <div class="match-header">
                    <div class="match-status" style="background-color: @(match.IsLive ? "#fdeaec" : "#fff"), color: @(match.IsLive ? "#d72641" : "#8A8F98")">
                        Live
                    </div>
                </div>
                <div class="match-content">
                    <div class="match-column">
                        <div class="team team--home">
                            <h2 class="team-name">
                                @Html.DisplayFor(item => match.HomeTeam.Name)
                            </h2>
                        </div>
                    </div>
                    <div class="match-column">
                        <div class="match-details">
                            <div class="match-date">
                                @match.StartTime.ToString("d MMM") at <strong>@match.StartTime.ToString("HH:mm")</strong>
                            </div>
                            <div class="match-score">
                                <span class="match-score-number">
                                    @Html.DisplayFor(item => match.HomeTeamStats.Goals)
                                </span>
                                <span class="match-score-divider">:</span>
                                <span class="match-score-number">
                                    @Html.DisplayFor(item => match.GuestTeamStats.Goals)
                                </span>
                            </div>
                            <div id="match-time-lapsed-@(Model.Matches.IndexOf(match))" class="match-time-lapsed">
                                @(match.IsLive ? match.CalculateMinutesElapsed() + "'" : "")
                            </div>
                        </div>
                    </div>
                    <div class="match-column">
                        <div class="team team--away">
                            <h2 class="team-name">
                                @Html.DisplayFor(item => match.GuestTeam.Name)
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal-@(Model.Matches.IndexOf(match))" class="modal">
        <span class="close cursor" onclick="closeModal(@(Model.Matches.IndexOf(match)))">&times;</span>
        <div class="modal-content">
        <div class="modal-header">
            <div class="inTeam1">
                @Html.DisplayFor(item => match.HomeTeam.Name)
                <div class="score">
                    @Html.DisplayFor(item => match.HomeTeamStats.Goals)
                </div>
            </div>
            VS
            <div class="inTeam2">
                @Html.DisplayFor(item => match.GuestTeam.Name)
                <div class="score">
                    @Html.DisplayFor(item => match.GuestTeamStats.Goals)
                </div>
            </div>
        </div>
        <div class="modal-body">
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.Goals)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    GOALS
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.Goals)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.Assists)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    ASSIST
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.Assists)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.Shoots)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    SHOOTS
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.Shoots)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.ShootsOnTarget)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    SHOOTS ON TARGET
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.ShootsOnTarget)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.Passes)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    PASSES
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.Passes)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.Fouls)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    FOULS
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.Fouls)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.YellowCards)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    YELLOW CARDS
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.YellowCards)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="stat1">
                    @Html.DisplayFor(item => match.HomeTeamStats.RedCards)
                </div>
            </div>
            <div class="column">
                <div class="statName">
                    RED CARDS
                </div>
            </div>
            <div class="column">
                <div class="stat2">
                    @Html.DisplayFor(item => match.GuestTeamStats.RedCards)
                </div>
            </div>
        </div>
        @{
            int maxPlayers = Math.Max(match.HomeTeamPlayersMatchStats.Count, match.GuestTeamPlayersMatchStats.Count);
        }
        <div class="table-container">
            <table class="player-table">
                <tr>
                    <th class="left-th"></th>
                    <th class="left-th"></th>
                    <th class="left-th">Goals</th>
                    <th class="left-th">Assists</th>
                    <th class="left-th">
                        <span class="material-symbols-outlined" style="color: yellow">
                            crop_portrait
                        </span>
                    </th>
                    <th class="left-th">
                        <span class="material-symbols-outlined" style="color: red">
                            crop_portrait
                        </span>
                    </th>
                    <th class="right-th">
                        <span class="material-symbols-outlined" style="color: red">
                            crop_portrait
                        </span>
                    </th>
                    <th class="right-th">
                        <span class="material-symbols-outlined" style="color: yellow">
                            crop_portrait
                        </span>
                    </th>
                    <th class="right-th">Assists</th>
                    <th class="right-th">Goals</th>
                    <th class="right-th"></th>
                    <th class="right-th"></th>
                </tr>
                @for (int j = 0; j < maxPlayers; j++)
                {
                    <tr>
                        @if (j < match.HomeTeamPlayersMatchStats.Count)
                        {
                            var homePlayerStat = match.HomeTeamPlayersMatchStats[j];
                            <td class="left-td-name">@Html.DisplayFor(item => homePlayerStat.Player.Name)</td>
                            <td class="left-td-name">@Html.DisplayFor(item => homePlayerStat.Player.Surname)</td>
                            <td class="left-td">@Html.DisplayFor(item => homePlayerStat.Goals)</td>
                            <td class="left-td">@Html.DisplayFor(item => homePlayerStat.Assists)</td>
                            <td class="left-td">@Html.DisplayFor(item => homePlayerStat.YellowCards)</td>
                            <td class="left-td">@Html.DisplayFor(item => homePlayerStat.RedCards)</td>
                        }
                        @if (j < match.GuestTeamPlayersMatchStats.Count)
                        {
                            var guestPlayerStat = match.GuestTeamPlayersMatchStats[j];
                            <td class="right-td">@Html.DisplayFor(item => guestPlayerStat.RedCards)</td>
                            <td class="right-td">@Html.DisplayFor(item => guestPlayerStat.YellowCards)</td>
                            <td class="right-td">@Html.DisplayFor(item => guestPlayerStat.Assists)</td>
                            <td class="right-td">@Html.DisplayFor(item => guestPlayerStat.Goals)</td>
                            <td class="right-td-name">@Html.DisplayFor(item => guestPlayerStat.Player.Name)</td>
                            <td class="right-td-name">@Html.DisplayFor(item => guestPlayerStat.Player.Surname)</td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" onclick="openModal2(@(Model.Matches.IndexOf(match)))">Match Ended</button>
        </div>
        </div>
        </div>
        </div>

        <div id="myModal2-@(Model.Matches.IndexOf(match))" class="modal">
            <span class="close cursor" onclick="closeModal2(@(Model.Matches.IndexOf(match)))">&times;</span>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="inTeam1">
                        @Html.DisplayFor(item => match.HomeTeam.Name)
                    </div>
                    VS
                    <div class="inTeam2">
                        @Html.DisplayFor(item => match.GuestTeam.Name)
                    </div>
                </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.Goals" id="goals1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.Goals" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                GOALS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.Goals" id="goals2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.Goals" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.Assists" id="assist1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.Assists" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                ASSIST
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.Assists" id="assist2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.Assists" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.Shoots" id="shoots1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.Shoots" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                SHOOTS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.Shoots" id="shoots2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.Shoots" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.ShootsOnTarget" id="shootsontarget1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.ShootsOnTarget" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                SHOOTS ON TARGET
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.ShootsOnTarget" id="shootsontarget2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.ShootsOnTarget" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.Passes" id="passes1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.Passes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                PASSES
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.Passes" id="passes2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.Passes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.Fouls" id="fouls1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.Fouls" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                FOULS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.Fouls" id="fouls2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.Fouls" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.YellowCards" id="ycards1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.YellowCards" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                YELLOW CARDS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.YellowCards" id="ycards2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.YellowCards" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="addstat1">
                                <input type="number" asp-for="@match.HomeTeamStats.RedCards" id="rcards1" min="0" value="0">
                                <span asp-validation-for="@match.HomeTeamStats.RedCards" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="statName">
                                RED CARDS
                            </div>
                        </div>
                        <div class="column">
                            <div class="addstat2">
                                <input type="number" asp-for="@match.GuestTeamStats.RedCards" id="rcards2" min="0" value="0">
                                <span asp-validation-for="@match.GuestTeamStats.RedCards" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        <table class="player-table">
                            <tr>
                                <th class="left-th"></th>
                                <th class="left-th"></th>
                                <th class="left-th">Goals</th>
                                <th class="left-th">Assists</th>
                                <th class="left-th">
                                    <span class="material-symbols-outlined" style="color: yellow">
                                        crop_portrait
                                    </span>
                                </th>
                                <th class="left-th">
                                    <span class="material-symbols-outlined" style="color: red">
                                        crop_portrait
                                    </span>
                                </th>
                                <th class="right-th">
                                    <span class="material-symbols-outlined" style="color: red">
                                        crop_portrait
                                    </span>
                                </th>
                                <th class="right-th">
                                    <span class="material-symbols-outlined" style="color: yellow">
                                        crop_portrait
                                    </span>
                                </th>
                                <th class="right-th">Assists</th>
                                <th class="right-th">Goals</th>
                                <th class="right-th"></th>
                                <th class="right-th"></th>
                            </tr>
                            @for (int j = 0; j < maxPlayers; j++)
                            {
                                <tr>
                                    @if (j < match.HomeTeamPlayersMatchStats.Count)
                                    {
                                        var homePlayerStat = match.HomeTeamPlayersMatchStats[j];
                                        <td class="left-td-name">@Html.DisplayFor(item => homePlayerStat.Player.Name)</td>
                                        <td class="left-td-name">@Html.DisplayFor(item => homePlayerStat.Player.Surname)</td>
                                        <td class="left-td">
                                            <input type="number" asp-for="@homePlayerStat.Goals" class="number-input" id="playerGoals1" min="0" value="0">
                                            <span asp-validation-for="@homePlayerStat.Goals" class="text-danger"></span>
                                        </td>
                                        <td class="left-td">
                                            <input type="number" asp-for="@homePlayerStat.Assists" class="number-input" id="playerAssists1" min="0" value="0">
                                            <span asp-validation-for="@homePlayerStat.Assists" class="text-danger"></span>
                                        </td>
                                        <td class="left-td">
                                            <input type="number" asp-for="@homePlayerStat.YellowCards" class="number-input" id="playerYellowCards1" min="0" max="2" value="0">
                                            <span asp-validation-for="@homePlayerStat.YellowCards" class="text-danger"></span>
                                        </td>
                                        <td class="left-td">
                                            <input type="number" asp-for="@homePlayerStat.RedCards" class="number-input" id="playerRedCards1" min="0" max="1" value="0">
                                            <span asp-validation-for="@homePlayerStat.RedCards" class="text-danger"></span>
                                        </td>
                                        <input type="hidden" asp-for="@homePlayerStat.Id" />
                                        <input type="hidden" asp-for="@homePlayerStat.PlayerId" />

                                    }
                                    @if (j < match.GuestTeamPlayersMatchStats.Count)
                                    {
                                        var guestPlayerStat = match.GuestTeamPlayersMatchStats[j];
                                        <td class="right-td">
                                            <input type="number" asp-for="@guestPlayerStat.RedCards" class="number-input" id="playerRedCards2" min="0" max="1" value="0">
                                            <span asp-validation-for="@guestPlayerStat" class="text-danger"></span>
                                        </td>
                                        <td class="right-td">
                                            <input type="number" asp-for="@guestPlayerStat.YellowCards" class="number-input" id="playerYellowCards2" min="0" max="2" value="0">
                                            <span asp-validation-for="@guestPlayerStat.YellowCards" class="text-danger"></span>
                                        </td>
                                        <td class="right-td">
                                            <input type="number" asp-for="@guestPlayerStat.Assists" class="number-input" id="playerAssists2" min="0" value="0">
                                            <span asp-validation-for="@guestPlayerStat.Assists" class="text-danger"></span>
                                        </td>
                                        <td class="right-td">
                                            <input type="number" asp-for="@guestPlayerStat.Goals" class="number-input" id="playerGoals2" min="0" value="0">
                                            <span asp-validation-for="@guestPlayerStat.Goals" class="text-danger"></span>
                                        </td>
                                        <td class="right-td-name">@Html.DisplayFor(item => guestPlayerStat.Player.Name)</td>
                                        <td class="right-td-name">@Html.DisplayFor(item => guestPlayerStat.Player.Surname)</td>
                                        <input type="hidden" asp-for="@guestPlayerStat.Id" />
                                        <input type="hidden" asp-for="@guestPlayerStat.PlayerId" />
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                    <input type="hidden" asp-for="@match.Id" />
                    <input type="hidden" asp-for="@match.HomeTeamStats.Id" />
                    <input type="hidden" asp-for="@match.GuestTeamStats.Id" />
                    <input type="hidden" asp-for="@match.HomeTeamStats.TeamId" />
                    <input type="hidden" asp-for="@match.GuestTeamStats.TeamId" />
                    <div class="modal-footer">
                        <button type="submit" value="Matches" class="btn default">Save Stats</button>
                    </div>
                </div>
            </div>
        </div>
    }
</form>

<script>
    function openModal(a) {
        var modalId = "myModal-" + a.toString();
        var modal = document.getElementById(modalId);

        if (modal) {
            modal.style.display = "block";
        }
    }

    function closeModal(a) {
        var modalId = "myModal-" + a.toString();
        var modal = document.getElementById(modalId);

        if (modal) {
            modal.style.display = "none";
        }
    }

    function openModal2(a) {
        document.getElementById("myModal2-" + a.toString()).style.display = "block";
        document.getElementById("myModal-" + a.toString()).style.display = "none";
    }

    function closeModal2(a) {
        document.getElementById("myModal2-" + a.toString()).style.display = "none";
    }
</script>
