@using SportEventManager.Web.ViewModels.EventModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using SportEventManager.Core.UserAggregate

@inject UserManager<User> UserManager
@model EventViewModel
@{
    ViewData["Title"] = "ShowMatches";
    Layout = "~/Views/EventView/_EventViewLayout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href="~/css/EventView/Matches.css" />


<div class="match-container">
@for (int i = 0; i < Model.Matches.Count; i++)
{
    <style>
        .match-status {
            background-color: @(Model.Matches[i].IsLive ? "#fdeaec" : "#fff");
            color: @(Model.Matches[i].IsLive ? "#d72641" : "#8A8F98");
        }
    </style>

  
        <div onclick="openModal(@i)" class="match">
                <div class="match-header">
                    <div class="match-status">Live</div>
                </div>
                <div class="match-content">
                    <div class="match-column">
                        <div class="team team--home">
                            <h2 class="team-name">
                                @Html.DisplayFor(item => Model.Matches[i].HomeTeam.Name)
                            </h2>
                        </div>
                    </div>
                    <div class="match-column">
                        <div class="match-details">
                            <div class="match-date">
                                @Model.Matches[i].StartTime.ToString("d MMM") at <strong>@Model.Matches[i].StartTime.ToString("HH:mm")</strong>
                            </div>
                            <div class="match-score">
                                <span class="match-score-number">
                                    @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                                </span>
                                <span class="match-score-divider">:</span>
                                <span class="match-score-number">
                                    @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                                </span>
                            </div>
                            <div id="match-time-lapsed-@i" class="match-time-lapsed">
                                @(Model.Matches[i].IsLive ? Model.Matches[i].CalculateMinutesElapsed() + "'" : "")
                            </div>
                        </div>
                    </div>
                    <div class="match-column">
                        <div class="team team--away">
                            <h2 class="team-name">
                                @Html.DisplayFor(item => Model.Matches[i].GuestTeam.Name)
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

    @if (!Model.Matches[i].IsEnded)
    {
        continue;
    }
    <div id="myModal-@i" class="modal">
        <span class="close cursor" onclick="closeModal(@i)">&times;</span>
        <div class="modal-content">
            <table class="table-teamStats">
                <tr>
                    <td>
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                    </td>
                    <td>
                        VS
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                    </td>
                    <td>
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeam.Name)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Goals)
                    </td>
                    <td>
                        GOALS
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Goals)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Assists)
                    </td>
                    <td>
                        ASSIST
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Assists)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Shoots)
                    </td>
                    <td>
                        SHOOTS
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Shoots)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.ShootsOnTarget)
                    </td>
                    <td>
                        SHOOTS ON TARGET
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.ShootsOnTarget)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Passes)
                    </td>
                    <td>
                        PASSES
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Passes)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.Fouls)
                    </td>
                    <td>
                        FOULS
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.Fouls)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.YellowCards)
                    </td>
                    <td>
                        YELLOW CARDS
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.YellowCards)
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].HomeTeamStats.RedCards)
                    </td>
                    <td>
                        RED CARDS
                    </td>
                    <td colspan="2">
                        @Html.DisplayFor(item => Model.Matches[i].GuestTeamStats.RedCards)
                    </td>
                </tr>
            </table>
            @if (User.IsInRole("EventManager") || User.IsInRole("Admin"))
            {
                <p>
                    <a id="matchStatsForm" asp-controller="MatchView" asp-action="Index" asp-route-id="@Model.Matches[i].Id" method="get">
                        Show more..
                    </a>
                </p>

            }
        </div>
    </div>
}
</div>
<script>
    function openModal(a) {
        var modalId = "myModal-" + a.toString();
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "block";
        }
    }
    function closeModal(a) {
        var modalId = "myModal-" + a.toString();
        var modal = document.getElementById(modalId);
        if (modal) {
            modal.style.display = "none";
        }
    }
</script>