@using SportEventManager.Web.ViewModels.EventModel;
@model EventViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var startDateInput = document.getElementById('EStartTime');
        var endDateInput = document.getElementById('EEndTime');

        var currentDate = new Date();

        var timezoneOffset = currentDate.getTimezoneOffset() * 60000;
        var currentDateTime = new Date(currentDate.getTime() - timezoneOffset);

        startDateInput.value = currentDateTime.toISOString().slice(0, 16);
        endDateInput.value = currentDateTime.toISOString().slice(0, 16);
    });
</script>



<script src="~/js/EventManager/Create.js"></script>
<h1>Create Event Form</h1>
<span class="text-danger m-2 w-100" id="BackendErrorSpan">@Model.BackendError</span>
<form id="EventForm" asp-action="Create">
    <div class="form-page" id="page-1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="event-card">
            <h2>First Part</h2>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" class="form-control" style="width: 40%;" asp-for="Name" id="EName" placeholder="Event Name" size="20" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <br style="margin-top: 20px;" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label">Start Date</label>
                <input class="form-control" style="width: 40%;" asp-for="StartTime" id="EStartTime" placeholder="Start Time" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <br style="margin-top: 20px;" />
            <div class="form-group">
                <label asp-for="EndTime" class="control-label">End Date</label>
                <input class="form-control" style="width: 40%;" asp-for="EndTime" id="EEndTime" placeholder="End Time" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <br style="margin-top: 20px;" />
            <div class="form-group">
                <label class="control-label">Number of Teams</label> <br />
                @*<input type="number" onkeydown="return false" min="0" class="form-control" style="width: 40%;" id="NumberOfTeam" placeholder="Number of teams" />*@
                <select id="NumberOfTeam" style="width: 40%;">
                    <option value="2" selected>2</option>
                    <option value="4">4</option>
                    <option value="8">8</option>
                    <option value="16">16</option>
                    <option value="32">32</option>
                </select>
            </div>

            <br style="margin-top: 20px;" />
            <div class="form-group">
                <label class="control-label">Minimal number of players in each team</label> <br />
                <select asp-for="MinPlayersQuantityPerTeam" id="MinPlayersQuantityPerTeam" style="width: 40%;">
                    <option value="7" selected>7</option>
                    <option value="9">9</option>
                    <option value="11">11</option>
                </select>
            </div>

            <br style="margin-top: 20px;" />
                <div class="form-group">
                    <label asp-for="MatchDurationMinutes" class="control-label"></label>
                    <input style ="width: 40%;" id="MatchDurationMinutes" asp-for="MatchDurationMinutes" class="form-control" />
                    <span asp-validation-for="MatchDurationMinutes" class="text-danger"></span>
                </div>

            <br style="margin-top: 20px;" />
            <div class="form-group">
                <label class="control-label" style="max-width: 200px;">Add Stadiums To Event</label>
                <div class="col-md-8 p-0 m-0 bg-white">
                    <table id="StadiumsTable" class="table table-sm CodesTable">
                        <thead>
                            <tr>
                                <th style="column-span:all">
                                    Stadiums
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    City
                                </th>
                                <th style="width:75px;">
                                    <button id="btnAddStadium"
                                            type="button"
                                            class="btn btn-sm btn-secondary visible"
                                            onclick="AddStadiumItem(this)">
                                        Add
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Stadiums.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input asp-for="@Model.Stadiums[i].Name" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Stadiums[i].City" class="form-control" />
                                    </td>
                                    <td style="width:60px;">
                                        <input type="hidden" asp-for="@Model.Stadiums[i]" />
                                        <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteStadiumItem(this)">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="hdnLastIndexStadium" value="0" />
            </div>
        </div>
    </div>

    <div class="form-page" id="page-2" style="display: none;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="event-card">
            <h2>Second Part</h2>
            <br style="margin-top: 20px;" />
            <div class="container col-8 me-1">
                <div class="col-md-8 p-0 m-0 bg-white">
                    <table id="TeamTable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align:center;">
                                    <h2><b>Team Name</b></h2>
                                </th>
                                <th style="width:75px;">
                                    <button id="btnAddTeam"
                                            type="button"
                                            class="btn btn-sm btn-secondary visible"
                                            onclick="AddTeam(this)">
                                        Add
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ChosenTeamsNames.Count; i++)
                            {
                              <tr>
                                <td>
                                   <select id="TeamSelect" asp-for="@Model.ChosenTeamsNames[i]" class="form-control">
                                        @foreach (var team in Model.AvailableTeamsNames)
                                        {
                                        <option value="@team">@team</option>
                                        }
                                   </select>
                                </td>
                                <td style="width:60px;">
                                    <input type="hidden" asp-for="@Model.ChosenTeamsNames[i]" />
                                    <button id="btnremove-@i" type="button" class="btn btn-sm btn-danger visible" onclick="DeleteTeam(this)">
                                        Delete
                                  </button>
                                </td>
                              </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="hdnLastIndexTeam" value="0" />
            </div>
            @{
                List<String> teamName = new();
                foreach(string name in Model.ChosenTeamsNames)
                {
                    teamName.Add(name);
                }
                string serializedTeamName = Newtonsoft.Json.JsonConvert.SerializeObject(teamName);
            }
            <input type="hidden" id="teamsCount" value="@serializedTeamName" />
        </div>
    </div>

    <div class="form-page" id="page-3" style="display: none;">
        <div class="button-row">
            <br style="margin-top: 40px;" />
            <button type="submit" class="btn1" value="Create">Create</button>
        </div>
    </div>
</form>

<div class="button-row">
    <br style="margin-top: 40px;" />
    <button type="submit" class="btn2" id="btnReset" onclick="resetDetails()">Reset</button>
    <button type="submit" class="btn1" id="btnNext1" onclick="showNextPage1()">Next</button>
    <button type="submit" class="btn1" id="btnNext2" style="display: none;" onclick="showNextPage2();">Next</button>
    <button type="submit" class="btn2" id="btnBack" style="display: none;" onclick="backPage()">Back</button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

