@using SportEventManager.Web.ViewModels.EventModel;
@model EventViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsInProgress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsInProgress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsEnded)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayersQuantityPerTeam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinPlayersQuantityPerTeam)
        </dd>
        <dd class="h-25"></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDurationMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchDurationMinutes) min
        </dd>
    </dl>
</div>
<div class="p-1 mt-4" style="height:50px;">
    <h4>These are event members</h4>
</div>
<div class="p-1 mt-4" style="height:50px;">
    <h3>Teams</h3>
</div>
<div class="container col-12">
    <div class="col-md-12 p-0 m-0 bg-white">
        <table id="TeamsTable" class="table table-sm CodesTable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Number Of Players
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Team in Model.Teams)
                {
                    if (!Team.IsArchived)
                    {
                        <tr>
                            <td class="team-col-colors">
                                @Team.Name
                            </td>
                            <td class="team-col-colors">
                                @Team.City
                            </td>
                            <td class="team-col-colors">
                                @Team.NumberOfPlayers
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="p-1 mt-4" style="height:50px;">
    <h3>Stadiums</h3>
</div>
<div class="container col-12">
    <div class="col-md-12 p-0 m-0 bg-white">
        <table id="StadiumsTable" class="table table-sm CodesTable">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        City
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Stadium in Model.Stadiums)
                {
                   <tr>
                        <td class="team-col-colors">
                            @Stadium.Name
                        </td>
                       <td class="team-col-colors">
                          @Stadium.City
                       </td>
                   </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>