@using SportEventManager.Web.ViewModels.EventModel;
@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Event</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>

<table class="table mx-auto" style="width: 75%;">
<thead >
    <tr style="display: flex;">
        <th style="flex: 1; text-align: center;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="flex: 1; text-align: center;">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        @if (!item.IsArchived)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Generate" asp-route-id="@item.Id">Generate</a>
                </td>
            </tr>
        }
    }
</tbody>
</table>

