@using SportEventManager.Web.ViewModels.EventModel;
@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    th, td {
        flex: 1;
        text-align: center;
    }
</style>

<h1>Your Events</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>

<table class="table mx-auto" style="width: 75%;">
<thead >
    <tr style="display: flex;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInProgress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnded)
        </th>
        <th>Options</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        @if (!item.IsArchived)
        {
                <tr style="display: flex;">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsInProgress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnded)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Generate" asp-route-id="@item.Id">Generate</a>
                </td>
            </tr>
        }
    }
</tbody>
</table>

