@using SportEventManager.Web.ViewModels.EventModel;
@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 15px;
    }

    .column {
        flex: 0 0 calc(30% - 15px);
    }

    .event {
        transition: 0.3s;
        border: 1px solid #AAA;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 15px;
        background-color: #f9f9f9;
    }

        .event:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
        }

    .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .info {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .team {
        font-size: 20px;
        margin-right: 10px;
    }

    * {
        box-sizing: border-box;
    }

    .default {
        border-color: #e7e7e7;
        color: black;
    }

        .default:hover {
            background: #e7e7e7;
        }
</style>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            int currentId = item.Id;
            <div class="column">
                <a class="nav-link" asp-controller="EventView" asp-action="ShowMatches" asp-route-id="@currentId">
                  
                    <div class="event">
                        <div class="title">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="info">
                            <span>Start date:</span>
                            <span>@item.StartTime.ToString("dd.MM.yyyy HH:mm")</span>
                        </div>
                        <div class="info">
                            <span>End date:</span>
                            <span>@item.EndTime.ToString("dd.MM.yyyy HH:mm")</span>
                        </div>
                        <div class="info">
                            <span>Number of teams:</span>
                            <span>@item.Teams.Count</span>
                        </div>
                        <div class="info">
                            <span>Number of stadiums:</span>
                            <span>@item.Stadiums.Count</span>
                        </div>
                        <div class="info">
                            <span>Number of matches:</span>
                            <span>@item.Matches.Count</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
}
else
{
    <h1>No events are available now</h1>
}