@using SportEventManager.Web.ViewModels.TeamModel;
@model TeamViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/js/TeamManager/CreateEdit.js"></script>
<h1>Create your team</h1>
<div class="container-fluid col-12 mx-auto pt-0 p-0">
    <span class="text-danger m-2 w-100" id="BackendErrorSpan">@Model.BackendError</span>
    <div class="card">
        <div class="card-header bg-secondary text-white text-center p-1" style="height:35px;">
            <h5>Create Team</h5>
        </div>
        <form id="TeamsForm" enctype="multipart/form-data" asp-action="Create">
            <div class="container-fluid btn-group p-0 m-0">
                <div class="col-12">
                    <div class="row">
                        <div class="col">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label asp-for="Tag" class="control-label"></label>
                                <input asp-for="Tag" class="form-control" />
                                <span asp-validation-for="Tag" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label asp-for="NumberOfPlayers" class="control-label"></label>
                                <input id="NumberOfPlayers"
                                       asp-for="NumberOfPlayers"
                                       class="form-control disable-pointer-events"
                                       min="1"
                                       max="50"
                                       onkeydown="return false"
                                       onchange="adjustPlayersRows(this)" />
                                <span asp-validation-for="NumberOfPlayers" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="p-1 mt-5" style="height:50px;">
                <h4>Add team members</h4>
            </div>
            <div class="container col-12">
                <div class="col-md-12 p-0 m-0 bg-white">
                    <table id="PlayersTable" class="table table-sm CodesTable">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Surname
                                </th>
                                <th>
                                    Number
                                </th>
                                <th>
                                    Pesel
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Players.Count; i++)
                            {
                                <tr>
                                    <td class="d-none">
                                            <input asp-for="@Model.Players[i].Id" class="form-control is-id-input" hidden contenteditable="false"/>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Players[i].Name" class="form-control" />
                                        <span asp-validation-for="@Model.Players[i].Name" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Players[i].Surname" class="form-control" />
                                        <span asp-validation-for="@Model.Players[i].Surname" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.TeamPlayers[i].Number" class="form-control" onkeydown="return false"/>
                                        <span asp-validation-for="@Model.TeamPlayers[i].Number" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <input asp-for="@Model.Players[i].Pesel" class="form-control is-pesel-input" id="pesel-input-@i" onblur="checkAllPeselNumbers(this)" />
                                        <span asp-validation-for="@Model.Players[i].Pesel" class="text-danger"></span>
                                    </td>
                                    <td style="width:60px;">
                                        <input type="hidden" asp-for="@Model.Players[i].IsArchived" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="hdnLastIndex" value="0" />
                <div class="col-12 btn-group p-10 m-0 text-center">
                    <div class="col form-group text-right p-0 pr-2 mb-2">
                        <a asp-action="Index" class="btn btn-secondary">&nbsp;Back&nbsp;</a>
                    </div>
                    <div class="col form-group text-left p-0 mb-2">
                        <input id="submit-button" type="submit" value="Create" class="btn btn-primary visible"/>
                        @*onclick="checkAllPeselNumbers()" />*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}